In [17]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np

In [22]:
df = pd.read_csv("results/survey1_pilot_v1.csv")

In [23]:
df

,TrialId,Scenario,"001 The price I paid was… (1 = Extremely Unfair, 7 = Extremely Fair)","002 The price I paid was… (1 = Extremely Unacceptable, 7 = Extremely Acceptable)","003 The price I paid was… (1 = Extremely Unreasonable, 7 = Extremely Reasonable)","004 How likely would you be to buy something from this online shop? (1 = Very Unlikely, 7 = Very Likely)","005 How likely would you be to shop at this online shop in the future? (1 = Very Unlikely, 7 = Very Likely)","006 How likely would you be to return to this online shop? (1 = Very Unlikely, 7 = Very Likely)","007 Before making a purchase decision in the future, I would visit other sites to check their prices. (1 = Very Unlikely, 7 = Very Likely)","008 Before making a purchase decision in the future, I would search for more information about the prices of alternatives. (1 = Very Unlikely, 7 = Very Likely)",...,"019 What amount did you spend online in the last 12 months? Choose one of the answers below. a)0$ b)1–50$ c)51–100$ d)101–200$ e)201–500$ f)501–1,000$ g)Over 1,000$",020 Which social networks do you use on a regular basis (at least once a week)? Choose one or multiple answers below. a)Facebook b)Instagram c)Twitter d)Snapchat e)LinkedIn f)None of these,021 What is the price you paid for your new smartphone? Choose one of the answers below. a)$80 b)$100 c)$120,"022 The scenario presented is easy to understand. (1 = Strongly Disagree, 7 = Strongly Agree)","023 The scenario presented seems realistic to me, regardless of the prices stated. (1 = Strongly Disagree, 7 = Strongly Agree)",024 Please choose your gender. a)Male b)Female,025 Please enter your age.,026 Education. Please choose one. a)Some school but no degree b)High school graduate c)Some college but no degree d)Bachelor’s degree e)Master’s degree f)Professional degree g)Doctorate h)Other,027 Employment status. Please choose one. a)Employed full-time b)Employed part-time c)Self-employed d)Homemaker e)Student f)Retired g)Unemployed h)Other,"028 Annual gross household income. Please choose one. a)Less than $20,000 b)$20,000 to $34,999 c)$35,000 to $49,999 d)$50,000 to $74,999 e)$75,000 to $99,999 f)$100,000 or more"
0,NaN,NaN,01 Distributive Price Fairness Perception,01 Distributive Price Fairness Perception,01 Distributive Price Fairness Perception,03 Purchase Intention,03 Purchase Intention,03 Purchase Intention,04 Future Search Intention,04 Future Search Intention,...,13 Money Spent for Online Purchases,14 Social Media Usage,15 Manipulation Check Price Direction,17 Realism Check,17 Realism Check,18 Demographics,18 Demographics,18 Demographics,18 Demographics,18 Demographics
1,0.0,Disadvantaged Customer,4,5,4,5,6,5,5,5,...,d)101–200$,a)Facebook b)Instagram c)Twitter,b) $100,2,4,a,24,a)Some school but no degree,a)Employed full-time,"e)$75,000 to $99,999"
2,1.0,Disadvantaged Customer,2,4,5,4,3,5,5,6,...,c)51–100$,a)\nb),b) $100,5,5,a)Male,25,d)Bachelor’s degree,a)Employed full-time,"d) $50,000 to $74,999"
3,2.0,Disadvantaged Customer,2,1,6,3,5,4,5,4,...,c)51–100$,a)Facebook\n\nI would like to try out new soci...,b) $100,6,5,a)Male,28,a)Some school but no degree,a)Employed full-time,"b) $20,000 to $34,999"
4,3.0,Disadvantaged Customer,2,4,4,4,4,6,4,2,...,a)0$,a)Instagram,a) $80,4,3,a,25,a)Some school but no degree,a,"b) $20,000 to $34,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,95.0,Disadvantaged Customer,6,5,5,4,3,4,2,4,...,c)51–100$,a)Instagram,b) $100,5,4,a,31,a)Some school but no degree,a) Employed full-time,"c) $35,000 to $49,999"
97,96.0,Same Price,4,5,4,5,6,6,4,3,...,c)51–100$,a) Facebook,b) $100,3,5,a,23,a)Some school but no degree,a)Employed full-time,"c) $35,000 to $49,999"
98,97.0,Favored Customer,5,2,3,5,4,4,5,6,...,a)0$,a)\nb)\n\nI rarely use Instagram and Snapchat.,b) $100,5,3,a,39,a)Some school but no degree,a)Employed full-time,"f) $100,000 or more"
99,98.0,Same Price,6,6,5,3,6,4,5,4,...,c)51–100$,a)Facebook and Twitter,b) $100,6,4,b)Female,25,a)Some school but no degree,a)Employed full-time,"c) $35,000 to $49,999"
100,99.0,Disadvantaged Customer,5,5,3,6,5,3,4,4,...,c)51–100$,a)Facebook,b) $100,6,4,a)Male,30,d)Bachelor’s degree,a)Employed full-time,"b) $20,000 to $34,999"

In [24]:
df = df.rename(lambda s: s[0:3], axis='columns')
df = df.loc[1:len(df)]
df

,Tri,Sce,001,002,003,004,005,006,007,008,...,019,020,021,022,023,024,025,026,027,028
1,0.0,Disadvantaged Customer,4,5,4,5,6,5,5,5,...,d)101–200$,a)Facebook b)Instagram c)Twitter,b) $100,2,4,a,24,a)Some school but no degree,a)Employed full-time,"e)$75,000 to $99,999"
2,1.0,Disadvantaged Customer,2,4,5,4,3,5,5,6,...,c)51–100$,a)\nb),b) $100,5,5,a)Male,25,d)Bachelor’s degree,a)Employed full-time,"d) $50,000 to $74,999"
3,2.0,Disadvantaged Customer,2,1,6,3,5,4,5,4,...,c)51–100$,a)Facebook\n\nI would like to try out new soci...,b) $100,6,5,a)Male,28,a)Some school but no degree,a)Employed full-time,"b) $20,000 to $34,999"
4,3.0,Disadvantaged Customer,2,4,4,4,4,6,4,2,...,a)0$,a)Instagram,a) $80,4,3,a,25,a)Some school but no degree,a,"b) $20,000 to $34,999"
5,4.0,Disadvantaged Customer,5,5,4,3,3,2,6,6,...,a)0$,a)Facebook,b) $100,5,4,a)Male,25,b)High school graduate,a)Employed full-time,"f) $100,000 or more"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,95.0,Disadvantaged Customer,6,5,5,4,3,4,2,4,...,c)51–100$,a)Instagram,b) $100,5,4,a,31,a)Some school but no degree,a) Employed full-time,"c) $35,000 to $49,999"
97,96.0,Same Price,4,5,4,5,6,6,4,3,...,c)51–100$,a) Facebook,b) $100,3,5,a,23,a)Some school but no degree,a)Employed full-time,"c) $35,000 to $49,999"
98,97.0,Favored Customer,5,2,3,5,4,4,5,6,...,a)0$,a)\nb)\n\nI rarely use Instagram and Snapchat.,b) $100,5,3,a,39,a)Some school but no degree,a)Employed full-time,"f) $100,000 or more"
99,98.0,Same Price,6,6,5,3,6,4,5,4,...,c)51–100$,a)Facebook and Twitter,b) $100,6,4,b)Female,25,a)Some school but no degree,a)Employed full-time,"c) $35,000 to $49,999"
100,99.0,Disadvantaged Customer,5,5,3,6,5,3,4,4,...,c)51–100$,a)Facebook,b) $100,6,4,a)Male,30,d)Bachelor’s degree,a)Employed full-time,"b) $20,000 to $34,999"

In [25]:
df["Price Fairness"] = (df["001"].astype('int') + df["002"].astype('int') + df["003"].astype('int'))/3
df["Purchase Intention"] = (df["004"].astype('int') + df["005"].astype('int') + df["006"].astype('int'))/3
df["Future Search Intention"] = (df["007"].astype('int') + df["008"].astype('int') + df["009"].astype('int'))/3
df["Product Involvement"] = sum([df[i].astype('int') for i in ["010", "011", "012", "013", "014", "015", "016"]])/7
df

,Tri,Sce,001,002,003,004,005,006,007,008,...,023,024,025,026,027,028,Price Fairness,Purchase Intention,Future Search Intention,Product Involvement
1,0.0,Disadvantaged Customer,4,5,4,5,6,5,5,5,...,4,a,24,a)Some school but no degree,a)Employed full-time,"e)$75,000 to $99,999",4.333333,5.333333,4.333333,4.428571
2,1.0,Disadvantaged Customer,2,4,5,4,3,5,5,6,...,5,a)Male,25,d)Bachelor’s degree,a)Employed full-time,"d) $50,000 to $74,999",3.666667,4.000000,5.333333,5.000000
3,2.0,Disadvantaged Customer,2,1,6,3,5,4,5,4,...,5,a)Male,28,a)Some school but no degree,a)Employed full-time,"b) $20,000 to $34,999",3.000000,4.000000,4.666667,4.142857
4,3.0,Disadvantaged Customer,2,4,4,4,4,6,4,2,...,3,a,25,a)Some school but no degree,a,"b) $20,000 to $34,999",3.333333,4.666667,4.000000,4.142857
5,4.0,Disadvantaged Customer,5,5,4,3,3,2,6,6,...,4,a)Male,25,b)High school graduate,a)Employed full-time,"f) $100,000 or more",4.666667,2.666667,5.000000,4.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,95.0,Disadvantaged Customer,6,5,5,4,3,4,2,4,...,4,a,31,a)Some school but no degree,a) Employed full-time,"c) $35,000 to $49,999",5.333333,3.666667,3.333333,4.714286
97,96.0,Same Price,4,5,4,5,6,6,4,3,...,5,a,23,a)Some school but no degree,a)Employed full-time,"c) $35,000 to $49,999",4.333333,5.666667,3.666667,4.428571
98,97.0,Favored Customer,5,2,3,5,4,4,5,6,...,3,a,39,a)Some school but no degree,a)Employed full-time,"f) $100,000 or more",3.333333,4.333333,4.666667,4.000000
99,98.0,Same Price,6,6,5,3,6,4,5,4,...,4,b)Female,25,a)Some school but no degree,a)Employed full-time,"c) $35,000 to $49,999",5.666667,4.333333,3.666667,4.000000
100,99.0,Disadvantaged Customer,5,5,3,6,5,3,4,4,...,4,a)Male,30,d)Bachelor’s degree,a)Employed full-time,"b) $20,000 to $34,999",4.333333,4.666667,4.666667,4.285714

In [26]:
variablen = [
    "Price Fairness",
    "Purchase Intention",
    "Future Search Intention",
    "Product Involvement"
]


n = len(variablen)
# Correlation matrix
cor_matrix = pd.DataFrame(index=variablen, columns=variablen)

# Significance
p_values = pd.DataFrame(index=variablen, columns=variablen)

for i in range(n):
    for j in range(n):
        if i == j:
            cor_matrix.iloc[i, j] = "1.000"
        else:
            r, p = pearsonr(df[variablen[i]], df[variablen[j]])
            stars = "***" if p < 0.01 else "**" if p < 0.05 else "*" if p < 0.10 else ""
            cor_matrix.iloc[i, j] = f"{r:.3f}{stars}"

means = df[variablen].mean().round(2).tolist()
stds = df[variablen].std().round(2).tolist()

cor_matrix.loc["Mean"] = means
cor_matrix.loc["Standard Deviation"] = stds

In [27]:
cor_matrix

,Price Fairness,Purchase Intention,Future Search Intention,Product Involvement
Price Fairness,1.000,-0.017,0.059,0.109
Purchase Intention,-0.017,1.000,0.033,0.083
Future Search Intention,0.059,0.033,1.000,0.009
Product Involvement,0.109,0.083,0.009,1.000
Mean,3.73,4.37,4.38,4.39
Standard Deviation,1.03,0.71,0.6,0.46